* {
    
    margin: 15 !important;
    padding: 15 !important;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    
    
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
ul { 
    list-style: none;
    
    text-decoration: none;
}
.picture{
    height: 130px !important;
    max-width: 100% !important;
}
.coinlist-image {
    width: 70px;
    align-items: center;
}

.coinlist-item {
    display: flex;
    
}


.coin-data-category {
    font-size: 10px;
}
.delete-icon {
    
    fill: white !important;
    right: 6px;

}
.coin{
    color: white;
}
.coin:hover{
    text-decoration: none;
}
.coin:hover .delete-icon {
    display: block !important;
}